name: Build HuskTowns

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build --stacktrace

      - name: Upload JARs
        uses: actions/upload-artifact@v4
        with:
          name: husktowns-build
          path: "**/build/libs/*.jar"
